n8n-workflows/shared/08-dashboard-api-final.json
{
  "name": "Dashboard API - Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/messages-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-messages",
      "name": "API - Messages",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "api-messages-v2"
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "messages",
        "options": {
          "queryParameters": "={ \"district\": \"{{ $json.query.district || 'ntr-district' }}\", \"message_text\": { \"$exists\": true, \"$ne\": \"\", \"$not\": { \"$regex\": \"^\\\\s*$\", \"$options\": \"i\" }, \"$nin\": [\"/start\", \"/help\", \"TODAY SCHEDULE\", \"today schedule\"] }, \"ai_analysis.intent\": { \"$exists\": true, \"$ne\": null, \"$nin\": [\"view_calendar\", \"general\", \"meeting\", \"appointment\"] } }",
          "sort": "{ \"timestamp\": -1 }",
          "limit": 2000
        }
      },
      "id": "mongodb-messages",
      "name": "Get Messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [450, 300],
      "credentials": {
        "mongoDb": {
          "id": "YJ4wyhn68TKaChpn",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const queryDate = $(\"API - Messages\").first().json.query.date;\nconst getDept = (t) => {\n  const text = (t || '').toLowerCase();\n  if (text.includes('power') || text.includes('current') || text.includes('vidyut') || text.includes('కరెంటు') || text.includes('విద్యుత్')) return 'Electricity';\n  if (text.includes('doctor') || text.includes('hospital') || text.includes('ambulance') || text.includes('వైద్య') || text.includes('ఆరోగ్య') || text.includes('చికిత్స')) return 'Health Department';\n  if (text.includes('flood') || text.includes('fire') || text.includes('varada') || text.includes('వరద') || text.includes('వర్షం')) return 'Disaster Management';\n  if (text.includes('road') || text.includes('bridge') || text.includes('building') || text.includes('రోడ్డు') || text.includes('వంతెన') || text.includes('రోడ్')) return 'Infrastructure';\n  if (text.includes('water') || text.includes('drainage') || text.includes('నీరు') || text.includes('మంచినీరు')) return 'Water & Sanitation';\n  return 'General Administration';\n};\n\nlet items = $input.all();\n\nif (queryDate) {\n  items = items.filter(item => {\n    const ts = item.json.timestamp;\n    if (!ts) return false;\n    const d = new Date(ts);\n    return d.toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' }) === queryDate;\n  });\n}\n\n// Extra secondary filtering for metadata/meta-messages\nitems = items.filter(item => {\n  const text = (item.json.message_text || '').toLowerCase();\n  if (text.includes('schedule') || text.includes('appointment') || text.includes('book') || \n      text.includes('tomorrow') || text.includes('pm') || text.includes('am') ||\n      text.includes('2:00') || text.includes('today schedule') ||\n      text.includes('/approve') || text.includes('/reject') ||\n      text.includes('meeting') ||\n      text.startsWith('/')) {\n    return false;\n  }\n  return true;\n});\n\nreturn items.map(item => ({\n  id: item.json._id,\n  summary: item.json.message_text,\n  from: item.json.sender_name || 'Citizen',\n  location: item.json.ai_analysis?.entities?.location?.[0]?.value || 'Unknown',\n  timestamp: item.json.timestamp,\n  priority: item.json.ai_analysis?.priority || 'medium',\n  department: item.json.department || getDept(item.json.message_text)\n}));"
      },
      "id": "format-messages",
      "name": "Format Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "respond-messages",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/calendar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-calendar",
      "name": "API - Calendar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "api-calendar"
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "calendar_events",
        "options": {
          "queryParameters": "={ \"district\": \"{{ $json.query.district || 'ntr-district' }}\" }",
          "limit": 500
        }
      },
      "id": "mongodb-calendar",
      "name": "Get Calendar",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [450, 500],
      "credentials": {
        "mongoDb": {
          "id": "YJ4wyhn68TKaChpn",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $(\"API - Calendar\").first().json.query;\nconst queryDate = q.date;\nconst queryStart = q.start;\nconst queryEnd = q.end;\n\nlet items = $input.all();\n\nif (queryDate) {\n  items = items.filter(item => {\n    const ts = item.json.start_time;\n    if (!ts) return false;\n    const d = new Date(ts);\n    return d.toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' }) === queryDate;\n  });\n} else if (queryStart && queryEnd) {\n  const s = new Date(queryStart).getTime();\n  const e = new Date(queryEnd).getTime();\n  items = items.filter(item => {\n    const ts = new Date(item.json.start_time).getTime();\n    return ts >= s && ts <= e;\n  });\n}\n\nreturn items.map(item => ({\n  id: item.json._id,\n  title: item.json.title || item.json.summary || 'Untitled Event',\n  start: item.json.start_time,\n  end: item.json.end_time,\n  location: item.json.location,\n  description: item.json.description\n}));"
      },
      "id": "format-calendar",
      "name": "Format Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "respond-calendar",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/appointments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-appointments",
      "name": "API - Appointments",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 700],
      "webhookId": "api-appointments"
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "appointments",
        "options": {
          "queryParameters": "={ \"district\": \"{{ $json.query.district || 'ntr-district' }}\", \"status\": \"approved\" }",
          "sort": "{ \"start_time\": -1 }",
          "limit": 500
        }
      },
      "id": "mongodb-appointments",
      "name": "Get Appointments",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [450, 700],
      "credentials": {
        "mongoDb": {
          "id": "YJ4wyhn68TKaChpn",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const queryDate = $(\"API - Appointments\").first().json.query.date;\nlet items = $input.all();\n\nif (queryDate) {\n  items = items.filter(item => {\n    const ts = item.json.start_time;\n    if (!ts) return false;\n    const d = new Date(ts);\n    return d.toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' }) === queryDate;\n  });\n}\n\nreturn items.map(item => ({\n  id: item.json._id,\n  citizen_name: item.json.citizen_name,\n  reason: item.json.reason,\n  start: item.json.start_time,\n  end: item.json.end_time,\n  status: item.json.status,\n  approved_at: item.json.approved_at,\n  telegram_id: item.json.citizen_telegram_id\n}));"
      },
      "id": "format-appointments",
      "name": "Format Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "respond-appointments",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 700]
    }
  ],
  "connections": {
    "API - Messages": { "main": [[{ "node": "Get Messages", "type": "main", "index": 0 }]] },
    "Get Messages": { "main": [[{ "node": "Format Messages", "type": "main", "index": 0 }]] },
    "Format Messages": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "API - Calendar": { "main": [[{ "node": "Get Calendar", "type": "main", "index": 0 }]] },
    "Get Calendar": { "main": [[{ "node": "Format Calendar", "type": "main", "index": 0 }]] },
    "Format Calendar": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "API - Appointments": { "main": [[{ "node": "Get Appointments", "type": "main", "index": 0 }]] },
    "Get Appointments": { "main": [[{ "node": "Format Appointments", "type": "main", "index": 0 }]] },
    "Format Appointments": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
