n8n-workflows/shared/08-dashboard-api.json
{
  "name": "08 - Dashboard API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "messages-recent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-messages",
      "name": "Webhook - Messages",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "messages-recent"
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "messages",
        "options": {
          "queryParameters": "={ \"district\": \"{{ $json.query.district || 'ntr-district' }}\", \"message_text\": { \"$exists\": true, \"$ne\": \"\", \"$not\": { \"$regex\": \"^\\\\s*$\" } }, \"ai_analysis.intent\": { \"$exists\": true, \"$ne\": null, \"$nin\": [\"view_calendar\", \"general\"] } }",
          "sort": "{ \"timestamp\": -1 }",
          "limit": 50
        }
      },
      "id": "mongodb-get-messages",
      "name": "MongoDB - Get Messages",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [450, 300],
      "credentials": {
        "mongoDb": {
          "id": "YJ4wyhn68TKaChpn",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  id: item.json._id,\n  summary: item.json.message_text,\n  from: item.json.sender_name,\n  location: item.json.ai_analysis?.entities?.location?.[0]?.value || 'Unknown',\n  timestamp: item.json.timestamp,\n  priority: item.json.ai_analysis?.priority,\n  department: item.json.department\n}));"
      },
      "id": "format-messages",
      "name": "Format Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "respond-messages",
      "name": "Respond Messages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "calendar-today",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-calendar",
      "name": "Webhook - Calendar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "calendar-today"
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "calendar_events",
        "options": {
          "queryParameters": "={ \"district\": \"{{ $json.query.district || 'ntr-district' }}\" }"
        }
      },
      "id": "mongodb-get-calendar",
      "name": "MongoDB - Get Calendar",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [450, 500],
      "credentials": {
        "mongoDb": {
          "id": "YJ4wyhn68TKaChpn",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  id: item.json._id,\n  title: item.json.title,\n  start: item.json.start_time,\n  end: item.json.end_time,\n  location: item.json.location\n}));"
      },
      "id": "format-calendar",
      "name": "Format Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "respond-calendar",
      "name": "Respond Calendar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook - Messages": { "main": [[{ "node": "MongoDB - Get Messages", "type": "main", "index": 0 }]] },
    "MongoDB - Get Messages": { "main": [[{ "node": "Format Messages", "type": "main", "index": 0 }]] },
    "Format Messages": { "main": [[{ "node": "Respond Messages", "type": "main", "index": 0 }]] },
    "Webhook - Calendar": { "main": [[{ "node": "MongoDB - Get Calendar", "type": "main", "index": 0 }]] },
    "MongoDB - Get Calendar": { "main": [[{ "node": "Format Calendar", "type": "main", "index": 0 }]] },
    "Format Calendar": { "main": [[{ "node": "Respond Calendar", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
